/* This file is for your main application css. */

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "./phoenix.css";

$gold: rgb(182, 140, 47);

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

div.page {
  display: flex;
  flex-direction: column;
  padding-top: 8rem;

  @media (max-width: 40rem) {
    padding-top: 3rem;
  }

  p.big-ol-title {
    font-size: 2.9em;
    margin: 0;
    font-family: "Playfair Display", serif;

    @media (max-width: 40rem) {
      font-size: 1.9em;
    }
  }

  p.lil-bro {
    font-size: 1.2em;
    font-size: #444;
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-family: "Libre Baskerville", serif;

    @media (max-width: 40rem) {
      font-size: 1em;
    }
  }

  div.separator {
    width: 6rem;
    height: 2px;
    background: $gold;
    margin: 0.25rem 0 1.25rem 0;
  }

  div.currently-playing-container {
    border-bottom: 2px solid $gold;
    display: flex;
    align-items: center;

    div.inner-container {
      display: flex;
      flex-direction: column;
      margin: 0 auto;

      @media (max-width: 40rem) {
        margin-top: 0.94rem;
      }

      div.songcontainer {
        margin-top: 1.5rem;

        img.album-cover {
          margin-left: 0;
        }

        div.info {
          max-width: 40rem;
          width: unset;
        }
      }

      div.description {
        display: flex;
        flex-direction: row;
        margin-left: 0.5rem;

        p {
          font-family: "Playfair Display", serif;
          margin: 0 1rem;
          letter-spacing: 2px;
          font-size: 0.85em;
          color: #555;
        }

        div.bars-group {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          margin-bottom: 0.5rem;
          height: 1.6rem;

          span {
            background-color: $gold;
            width: 3px;
            height: 1.3rem;
            margin: 0 0.2rem;

            @keyframes bouncing-bars {
              0% {
                height: 0rem;
              }

              75% {
                height: 1.25rem;
              }

              100% {
                height: 0;
              }
            }

            &#one {
              animation: bouncing-bars 0.82s ease 0s infinite;
            }

            &#two {
              animation: bouncing-bars 0.82s ease 0.15s infinite;
            }

            &#three {
              animation: bouncing-bars 0.82s ease 0.3s infinite;
            }
          }
        }
      }
    }
  }

  div.songcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 2.3rem auto;

    @media (max-width: 40rem) {
      margin: 2.3rem 0;
    }

    svg {
      min-width: 3.5rem;

      g {
        stroke: $gold;
        opacity: 0.94;
      }
    }

    & > svg {
      transform: translateY(-15px);
      margin-right: 1rem;

      @media (max-width: 40rem) {
        margin-right: 0.25rem;
      }
    }

    img.album-cover {
      width: 9rem;
      margin: 0 2rem;

      @media (max-width: 40rem) {
        width: 9rem;
        margin: 0 1rem;
      }
    }

    div.info {
      width: 40rem;

      @media (max-width: 40rem) {
        width: auto;
      }

      div.arow {
        display: flex;
        flex-direction: row;
        align-items: center;

        span {
          width: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;

          svg g {
            opacity: 0.89;
          }
        }
      }

      a {
        margin: 0.2rem 0.5rem;
        font-family: "Libre Baskerville", serif;
        opacity: 0.8;
        color: #222;

        &:hover {
          text-decoration: underline;
          text-underline-offset: 2px;
        }
      }

      a.first-row {
        font-size: 0.95em;

        @media (max-width: 40rem) {
          font-size: 0.8em;
        }
      }

      a.second-row {
        margin-left: 0.6rem;
        font-size: 0.9em;

        @media (max-width: 40rem) {
          font-size: 0.75em;
        }
      }

      a.third-row {
        margin-left: 0.6rem;
        font-size: 0.9em;

        @media (max-width: 40rem) {
          font-size: 0.75em;
        }
      }
    }
  }
}

div.tippy-top {
  display: flex;
  flex-direction: row;

  div.slash {
    height: 3rem;
    width: 2px;
    background-color: $gold;
    transform: skew(-15deg);
    margin: 0 4px;
  }

  p.tunes {
    font-size: 1.35em;
    font-family: "Playfair Display", serif;
    font-style: italic;
    margin-bottom: 0.75rem;
    transform: translateY(-0.45rem);
    text-align: center;

    @media (max-width: 40rem) {
      font-size: 1.2em;
      transform: translateY(-0.25rem);
    }
  }
}

footer#tunes-footer {
  border-top: 1px solid $gold;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5rem 0;

  div.slash {
    height: 9rem;

    @media (max-width: 40rem) {
      height: 12rem;
    }
  }

  a,
  p {
    font-size: 0.94em;
  }

  a {
    margin: 2rem 0;
    font-family: "Libre Baskerville", serif;
  }

  p {
    transform: translateY(0.5rem);
    margin: 0 1rem 0 1.5rem;
    line-height: 1.75em;
  }
}
